<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Is Your Company a Fit?</h2>
                <hr class="light">
                <p class="text-faded">We are actively looking for businesses! If you want to learn more about who we are and get a free valuation please contact us today. No strings attached!</p>
                <a href="https://forms.gle/S9f3c75gWmZ26Ai19" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
